@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sora:wght@400;600;700&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body,
.sentence {
    font-family: "Roboto" !important;
}

h1,
h2,
h3,
h4,
.score,
.chakra-button,
.chakra-alert {
    font-family: "Sora" !important;
}
